body {
  display: flex;

  font-family: sans-serif;
  height: 100vh;
}

.logo {
  height: 150px;
  width: 125px;
}

.contenido {
  overflow: scroll;
}

#foto {
  float: right;
}

.titulo-perritos {
  padding: 10px;
}
.fondo-foto {
  margin: 10px;
  padding: 10px;
  background-color: violet;
}

header {
  background-color: palevioletred;
  padding: 30px;
  margin-right: 10px;
}

li {
  list-style: none;
}
